/* ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00FF08;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

button:hover,
form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px #00FF0868;
    transform: scale(1.05);
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #00FF08;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

h2.titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: #00FF08;
}



/********************** ESTILO DO CABEÇALHO **********************/

header {
    width: 100%;
    position: fixed;
    z-index: 99999;
    height: 60px;
}

header>.interface {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 4%;
    padding-right: 4%;
    background-color: #000000f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a:hover {
    color: #fff;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 30px;
}

.menu-mobile {
    display: none;
}




/**********************  ESTILO DO TOPO DO SITE ************************/
section.topo-do-site {
    padding-top: 150px;
    padding-bottom: 40px;
    padding-right: 4%;
    padding-left: 4%;
}



section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site h1.title-master {
    font-size: 80px;
    line-height: 80px;
}

.topo-do-site h1 span {
    color: #00FF08;
    font-size: 80px;
}

.topo-do-site p {
    color: #fff;
    margin: 40px 0;
    text-align: justify;
}

.topo-do-site p span {
    color: #00FF08;
    font-size: 26px;
    font-weight: 600;
}

/* ANIMAÇÃO DA IMAGEM DO TOPO */
/* .topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
} */





/*************************** ESTILO DO SOBRE ************************/

section.sobre {
    padding: 80px 4%;
    /* box-shadow: 0px -10px 0px #ffffff, 0px -15px 15px #eeff00;     */
    /* box-shadow: 0 -3px 3px #00FF07; */
    box-shadow: 0 -3px 3px #ffffff1d;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}


.sobre .titulo {
    padding-bottom: 40px;
}

.sobre .txt-sobre {
    color: #fff;

}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}


.sobre .txt-sobre h2 span {
    /* display: block; */
    color: #00FF08;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}


/************************* ESTILO DAS HABILIDADES ***************************/

section.habilidades {
    padding: 40px 4%;
    box-shadow: 0 -3px 3px #ffffff1d;
    /* box-shadow: 0 -3px 3px #00FF07; */

}

section.habilidades .flex {
    gap: 20px;
}

.habilidades .habilidades-box {
    color: #fff;
    border-radius: 20px;
    padding: 20px;
    transition: .2s;
    width: 45%;
    /* border: 2px solid #5c5c5c;   */
    box-shadow: 0 0 10px #ffffff78;
    margin: 0 auto;
    margin-top: 45px;
    margin-bottom: 30px;
}

.habilidades .habilidades-box .habilidades-header {
    display: inline-flex;
    /* background-color: #5c5c5c;
    border-radius: 15px 15px 0 0; */
    width: 100%;
    gap: 20px;
    font-size: 30px;
    align-items: center;

}

.habilidades .habilidades-box .habilidades-header i {
    font-size: 70px;
    color: #00FF08;
}

.habilidades .habilidades-box .habilidades-header h3 {
    font-size: 25px;
}

.habilidades .habilidades-box .habilidades-body {
    padding-left: 50px;
    padding-right: 30px;
    text-align: justify;

}

.habilidades .habilidades-box .habilidades-body li {
    padding-top: 25px;
}


.habilidades .habilidades-box:hover {
    transform: scale(1.1);
    box-shadow: 0 0 18px #ffffff78;
    z-index: 99999;
    background-color: #000;
}

/************************* ESTILO DAS ESPECIALIDADES ***************************/

section.especialidades {
    padding: 40px 4%;
    box-shadow: 0 -3px 3px #ffffff1d;
}

section.especialidades .flex {
    gap: 60px;
}

.especialidades .especialidades-box {
    color: #fff;
    padding: 40px;
    border-radius: 30px;
    margin-top: 45px;
    transition: .2s;
    width: 100%;
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 18px #ffffff78;
    z-index: 99999;
    background-color: #000;
}

.especialidades .especialidades-box i {
    font-size: 70px;
    color: #00FF08;
}

.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}


.especialidades .especialidades-box .especialidades-header {
    display: inline-flex;
    /* background-color: #5c5c5c;
    border-radius: 15px 15px 0 0; */
    width: 100%;
    gap: 20px;
    font-size: 30px;
    align-items: center;

}

.especialidades .especialidades-box .especialidades-header i {
    font-size: 70px;
    color: #00FF08;
}


/********************************* ESTILO DO PORTFÓLIO **********************************/
section.portfolio {
    padding: 80px 4%;
    box-shadow: 0 -3px 5px #ffffff1d;
    /* box-shadow: 0 0 40px 10px #ffffff1d; */
}

section.portfolio .flex {
    justify-content: space-around;
    margin-top: 60px;
}

.portfolio .projeto-text {
    width: 85%;
}

.portfolio h3 {
    color: #fff;
    /* font-size: 30px; */
    font-weight: 500;
    padding-left: 40px;

}

.portfolio p {
    color: #fff;
    padding: 40px 40px;
    text-align: justify;

}

.portfolio ul {
    color: #fff;
    padding-left: 100px;
}



.img-port {
    width: 560px;
    height: 600px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 4s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

/* .img-port:hover {
    background-position: 100% 100%;
} */


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000070;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay i {
    color: #fff;
    font-size: 100px;
    background-color: #000;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px #fff;
}

.overlay:hover {
    opacity: 1;
}

.img-port h1 {    
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    text-align: center;

    padding: 10px;
    box-shadow: 0px 0px 5px #fff;
    background-color: #000000;
    border: 0;
    border-radius:  0px 30px 0px 30px;        

    
    position: absolute;
    top: 520px;
    left: 10px;
    right: 10px;
    bottom: 20px;
}


/********************************* ESTILO DO FORMULÁRIO *********************************/

section.formulario {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input,
form textarea {
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form textarea {
    resize: vertical;
    min-height: 200px;
    max-height: 500px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input {
    width: 120px;
    background-color: #00FF08;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

/****************************** ESTILO DO RODAPÉ **************************/

footer {
    padding: 40px 4%;
    box-shadow: 0 -3px 5px #ffffff1d;
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;
}

.borda {
    border-top: 2px solid #00FF08;
}

footer .line-footer p i {
    color: #00FF08;
    font-size: 22px;
}

footer .line-footer p a {
    color: #fff;
}


/* ###################### ESTILO PARA TORNAR O SITE RESPONSIVO ########################## */

.btn-abrir-menu i {
    display: none;
}


@media screen and (max-width: 1220px) {

    /* CLASSES GERAIS */
    .flex {
        flex-direction: column;
    }

    .topo-do-site .flex {
        flex-direction: column-reverse;
    }

    h2.titulo {
        font-size: 34px;
        line-height: 30px;
    }


    /* CABEÇALHO */
    .menu-desktop,
    .btn-contato,
    header .interface {
        display: none;
    }


    header .interface-mobile {
        max-width: 1280px;
        margin: 0 auto;
        z-index: 77777;


    }

    /* ESTILO DO MENU MOBILE */

    .btn-abrir-menu i {
        display: block;
        padding-bottom: 40px;
        margin-top: 10px;
        margin-right: 10px;
        color: #00FF08;
        background-color: #161616;
        box-shadow: 0 0 5px #555454;
        font-size: 30px;
        text-align: center;
        top: 0;
        right: 0;
        position: fixed;
        border-radius: 10px;
        height: 35px;
        width: 35px;
    }

    .menu-mobile {
        background-color: #000;
        display: block;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 99999;
        width: 0%;
        overflow: hidden;
        transition: .2s;
    }

    .menu-mobile.abrir-menu {
        width: 70%;
    }

    .menu-mobile.abrir-menu~.overlay-menu {
        display: block;
    }

    .menu-mobile .btn-fechar {
        padding: 20px 5%;
    }

    .menu-mobile .btn-fechar i {
        color: #00FF08;
        font-size: 20px;
    }

    .menu-mobile nav ul {
        text-align: right;
    }

    .menu-mobile nav ul li a {
        color: #fff;
        font-size: 20px;
        font-weight: 300;
        padding: 20px 8%;
        display: block;
    }

    .menu-mobile nav ul li a:hover {
        background-color: #00FF07;
        color: #000;
        width: 100%;
        font-weight: 500;
    }

    .overlay-menu {
        background-color: #000000bb;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 88888;
        display: none;
    }



    /* TOPO DO SITE */


    .topo-do-site .flex {
        flex-direction: column-reverse;
    }


    section.topo-do-site .flex {
        gap: 40px;
    }

    section.topo-do-site {
        padding: 20px 8%;
    }

    .topo-do-site h1 {
        font-size: 30px;
    }

    .topo-do-site .img-topo-site img {
        width: 100%;
    }


    /* ESPECIALIDADES */
    section.especiliadades {
        padding: 40px 10%;
    }


    /* SOBRE */
    section.sobre {
        padding: 80px 8%;
    }

    .sobre .txt-sobre h3 {
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    .btn-social {
        text-align: center;
    }

    .img-sobre img {
        width: 100%;
    }

    .sobre .txt-sobre h3 span {
        display: block;
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 30px;
        color: #00FF08;
    }


    /********************************** HABILIDADES *********************************/

    .habilidades .habilidades-box {
        width: 100%;
    }

    /********************************** PORTFÓLIO *********************************/
    section.portfolio {
        padding: 80px 8%;
    }

    .portfolio .projeto-text {
        width: 100%;
    }

    .img-port {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    section.portfolio .flex {
        gap: 60px;
    }

    /* RODAPÉ */
    footer .flex {
        flex-direction: column;
        gap: 30px;
    }

    footer .line-footer {
        text-align: center;
    }

}